.fa-ui-icon-item {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  width: 100px;
  height: 100px;
  background-color: var(--fa-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin: 6px;
  color: var(--fa-text-color);
}

.fa-ui-icon-item:hover {
  background-color: #ffd43b;
}
