DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

# MYSQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DBNAME=fa_admin_dev
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456

# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DBNAME=fa_admin_dev
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=~