# Database Configuration
DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
DB_URL=jdbc:mysql://127.0.0.1:3306/fa_admin_dev?useUnicode=true&characterEncoding=UTF8&serverTimezone=GMT%2B8&useSSL=false&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=123456

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=~