[submodule "fa-core"]
	path = fa-core
	url = git@github.com:FaberSober/fa-core.git
	branch = sb3
[submodule "fa-base"]
	path = fa-base
	url = git@github.com:FaberSober/fa-base.git
	branch = sb3
[submodule "frontend/fa-ui"]
	path = frontend/fa-ui
	url = git@github.com:FaberSober/fa-ui.git
	branch = main
[submodule "frontend/apps/admin/features/fa-admin-pages"]
	path = frontend/apps/admin/features/fa-admin-pages
	url = git@github.com:FaberSober/fa-admin-pages.git
	branch = main
[submodule "fa-demo"]
	path = fa-demo
	url = git@github.com:FaberSober/fa-demo.git
	branch = main
[submodule "frontend/apps/admin/features/fa-admin-demo-pages"]
	path = frontend/apps/admin/features/fa-admin-demo-pages
	url = git@github.com:FaberSober/fa-admin-demo-pages.git
	branch = main
[submodule "fa-disk"]
	path = fa-disk
	url = git@github.com:FaberSober/fa-disk.git
	branch = main
[submodule "frontend/apps/admin/features/fa-disk-pages"]
	path = frontend/apps/admin/features/fa-disk-pages
	url = git@github.com:FaberSober/fa-disk-pages.git
	branch = main
[submodule "fa-app"]
	path = fa-app
	url = git@github.com:FaberSober/fa-app.git
	branch = sb3
[submodule "frontend/apps/admin/features/fa-app-pages"]
	path = frontend/apps/admin/features/fa-app-pages
	url = git@github.com:FaberSober/fa-app-pages.git
	branch = main
