.fa-zoom-pan-editor-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--el-bg-color);
}

.fa-zoom-pan-editor-minimap {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: miniMapWidth;
  height: miniMapHeight;
  border: 1px solid #666;
  background: #fff;
  overflow: hidden;
}

.fa-zoom-pan-editor-toolbar {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-zoom-pan-left-top {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}