.react-pdf-viewer-copy-div {
  background-color: #fff;
  display: flex;
  // padding: 6px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  a {
    padding: 6px;
    color: #333;
  }

  a:hover {
    background-color: #eee;
    color: darkcyan;
  }
}
