.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  //background-image: url('~@/assets/images/login/login_bg.jpg');
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

.bannerDiv {
  position: absolute;
  top: calc(50vh - 100px);
  left: 200px;
}

.bannerTitle {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}

.bannerSubTitle {
  font-size: 20px;
  color: #fff;
}

.loginContainer {
  position: absolute;
  top: calc(50vh - 150px);
  right: 200px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 40px 28px 2px rgba(0, 132, 255, 0.33);
}

.main {
  max-width: 1300px;
  width: 400px;
  height: 300px;
}

.title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

.submit {
  width: 100%;
}
