<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faber.admin.mapper.ElementMapper">

    <select id="selectAuthorityElementByUserId" resultType="com.faber.admin.entity.Element">
        select distinct t.id, t.code, t.type, t.name, t.uri, t.method, m.title as menu_id
          from base_resource_authority ra
         inner join base_element t on ra.resource_id = t.id and t.del_state = 0 and ra.authority_id in (
                   select group_id from base_group_user where user_id = #{userId}
               )
          and ra.authority_type = 'group'
          and ra.resource_type = 'button'
        inner join base_menu m on t.menu_id = m.id and m.del_state = 0
    </select>

    <select id="selectAllElementPermissions" resultType="com.faber.admin.entity.Element">
        select distinct t.code, t.type, t.name, t.uri, t.method, m.title as menu_id
          from base_element t
         inner join base_menu m on t.menu_id = m.id and m.del_state = 0 and t.del_state = 0
    </select>

    <select id="selectAuthorityMenuElementByGroupId" parameterType="map" resultType="com.faber.admin.entity.Element">
        select t.*
          from base_resource_authority ra
          left JOIN base_element t ON ra.resource_id = t.id and t.del_state = 0
         where ra.authority_id = #{groupId}
           and ra.authority_type = 'group'
          and ra.resource_id IN (
                   SELECT id FROM base_element WHERE menu_id = #{menuId} and del_state = 0
              )
    </select>

    <update id="removeNotValid" parameterType="map">
        UPDATE base_element t
        SET t.del_state = '1',
            t.del_user  = #{id},
            t.del_name  = #{name},
            t.del_host  = #{ip},
            t.del_time  = SYSDATE()
        WHERE t.del_state = 0
          AND t.menu_id NOT IN (
            SELECT id
            FROM base_menu
            WHERE del_state = 0
        )
    </update>

    <!--    <select id="selectAuthorityMenuElementByUserId" resultMap="BaseResultMap">-->
    <!--        select distinct t.* from base_resource_authority ra-->
    <!--        inner join base_element t-->
    <!--        on ra.resource_id = t.id-->
    <!--            and t.del_state = 0-->
    <!--        and ra.authority_id in (-->
    <!--          select group_id from base_group_user where user_id = #{userId}-->
    <!--        )-->
    <!--        and ra.authority_type = 'group'-->
    <!--        and ra.resource_type = 'button'-->
    <!--        and t.menu_id = #{menuId}-->
    <!--    </select>-->

    <!--    <select id="selectAuthorityElementByClientId" resultMap="BaseResultMap">-->
    <!--        select distinct t.* from auth_client_service cs-->
    <!--         inner join base_element t-->
    <!--         on t.id = cs.service_id-->
    <!--             and t.del_state = 0-->
    <!--         and cs.client_id = #{clientId}-->
    <!--    </select>-->

    <!--    <select id="selectByMenuCode" resultMap="BaseResultMap">-->
    <!--        select distinct t.*-->
    <!--        from base_element t-->
    <!--        where t.del_state = 0-->
    <!--          and t.menu_id IN (-->
    <!--             SELECT id FROM base_menu WHERE del_state = 0 AND `code` = #{menuCode}-->
    <!--            )-->
    <!--          AND t.id IN (-->
    <!--            SELECT resource_id FROM base_resource_authority WHERE authority_type = 'group' AND authority_id IN (-->
    <!--                SELECT group_id FROM base_group_user WHERE user_id = #{userId}-->
    <!--            )-->
    <!--          )-->
    <!--        ORDER BY id ASC-->
    <!--    </select>-->

</mapper>
