<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faber.admin.mapper.ResourceAuthorityMapper">

    <delete id="deleteByAuthorityIdAndResourceType">
        delete from base_resource_authority where authority_id = #{authorityId} and resource_type = #{resourceType}
    </delete>

</mapper>