.fa-workflow-node-btn-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;

  .ant-checkbox-wrapper {
    width: 100px;
  }
}

.fa-form-auth-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.fa-form-auth-header-tr {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 8px;
  background: #fafafa;
  border-bottom: 1px solid var(--fa-border-color);
  transition: background .3s ease;
  color: #000000d9;
  font-weight: 500;
}

.fa-form-auth-header-tr:not(:last-child):before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  background-color: #0000000f;
  transform: translateY(-50%);
  transition: background-color .3s;
  content: "";
}

.fa-form-auth-body-tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--fa-border-color);
}

.fa-form-auth-body-td {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 8px;
}
