<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faber.api.article.mapper.DetailMapper">

    <select id="getByBook" parameterType="map" resultType="com.faber.api.article.vo.BookOutlineDetail">
        SELECT a.*, o.no as outline_no, o.title as outline_title
        FROM article_detail a
        LEFT JOIN article_outline o ON a.outline_id = o.id
        WHERE o.deleted = 0
          AND o.book_id = #{bookId}
        ORDER BY o.`title` ASC
    </select>

</mapper>