.fa-drag-item .fa-drag-handle {
  display: none;
}

.fa-drag-item:hover .fa-drag-handle {
  display: flex;
}

.fa-drag-handle {
  cursor: grab;
  transition: all ease-in-out 0.3s;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fa-text-color);
}

.fa-drag-handle:hover {
  background-color: var(--fa-bg-color-hover);
}
