package ${package}.entity;

import com.alibaba.excel.annotation.ExcelProperty;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.faber.core.annotation.FaModalName;
import lombok.Data;

    ###if(${hasBigDecimal})
###end

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@FaModalName(name = "${comments}")
@TableName("${tableName}")
@Data
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    @ExcelProperty("$column.comments")
    @TableId(type = IdType.AUTO)
    private $column.attrType $column.attrname;

#else
    @ExcelProperty("$column.comments")
    private $column.attrType $column.attrname;

#end
#end
}
