<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faber.api.app.app.mapper.ApkMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.faber.api.app.app.entity.Apk" id="apkMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="applicationId" column="application_id"/>
        <result property="versionCode" column="version_code"/>
        <result property="versionName" column="version_name"/>
        <result property="iconId" column="icon_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="crtUser" column="crt_user"/>
        <result property="crtName" column="crt_name"/>
        <result property="crtHost" column="crt_host"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUser" column="upd_user"/>
        <result property="updName" column="upd_name"/>
        <result property="updHost" column="upd_host"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <update id="sumDownloadNum" parameterType="map">
        UPDATE app_apk t SET t.download_num = (
            SELECT IFNULL(SUM(b.download_num), 0) FROM app_apk_version b WHERE b.app_id = t.id
        )
        WHERE t.id = #{id}
    </update>

</mapper>