.fa-disk-upload-file-panel {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 440px;
  background-color: #FFF;
  z-index: 999;

  box-sizing: border-box;
  box-shadow: var(--fa-box-shadow);
  border-radius: var(--fa-border-radius);
}

.fa-disk-upload-file-panel-title {
  padding: 8px;
  border-bottom: 1px solid var(--fa-border-color);
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
  }
}

.fa-disk-upload-file-panel-content {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fa-disk-upload-file-panel-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid var(--fa-border-color);
  display: flex;
  flex-direction: row;
  align-items: center;

  .name {
    flex: 1;
  }
}

.fa-disk-upload-file-panel-item:hover {
  background-color: var(--fa-hover-bg);
}

.fa-disk-upload-file-panel-item:last-child {
  border-bottom: none;
}
