package ${package}.rest;

import com.faber.core.annotation.FaLogBiz;
import com.faber.core.web.rest.BaseController;
import ${package}.biz.${className}Biz;
import ${package}.entity.${className};
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@FaLogBiz("${comments}")
@RestController
@RequestMapping("/api/${moduleName}/${secondModuleName}")
public class ${className}Controller extends BaseController<${className}Biz, ${className}, Integer> {

}