import { Fa } from '@fa/types';

namespace ${moduleNameUpperCaseFirstOne} {
  /** ${comments} */
  export interface ${className} extends Fa.BaseDelEntity {
#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    /** $column.comments */
    $column.attrname: number;
#elseif ($column.attrname != 'crtTime' and $column.attrname != 'crtUser' and $column.attrname != 'crtName' and $column.attrname != 'crtHost' and $column.attrname != 'updTime' and $column.attrname != 'updUser' and $column.attrname != 'updName' and $column.attrname != 'updHost' and $column.attrname != 'deleted')
    /** $column.comments */
    $column.attrname: string;
#end
#end
  }
}

export default ${moduleNameUpperCaseFirstOne};
