import { GATE_APP } from '@/configs';
import { BaseApi } from '@fa/ui';
import { ${moduleNameUpperCaseFirstOne} } from '@/types';

/** ------------------------------------------ ${comments} 操作接口 ------------------------------------------ */
class Api extends BaseApi<${moduleNameUpperCaseFirstOne}.${className}, ${pkColAttrTsType}> {}

export default new Api(GATE_APP.${apiPathDot}, '${secondModuleName}');
