<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.faber.api.base.admin.mapper.LogApiMapper" >

    <delete id="deleteAll">
        delete from base_log_api LIMIT 1000
    </delete>

    <delete id="deleteOverSize" parameterType="map">
        DELETE FROM base_log_api
        WHERE id &lt;= #{minId}
        LIMIT 1000
    </delete>

</mapper>
