.fa-form-editor-item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: grab;
  border: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
}

.fa-form-editor-item-selected {
  background-color: #e6f7ff;
  border: 1px solid #1890ff;
}

.fa-form-editor-item .ant-form-item {
  margin: 0;
}

.fa-form-item-drag {
  padding: 6px 10px;
  border: 1px solid var(--fa-border-color);
  border-radius: 4px;
  cursor: move;
  user-select: none;
  background: transparent;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-form-item-drag:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.fa-form-item-icon {
  height: 15px;
  width: 15px;
  margin-right: 6px;
}
