.fa-admin-hello-banner {
  background: url("/file/image/banner/tech-banner2.png");
  //background: url("~/../fa-admin-pages/assets/banner/hello-banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

